.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.header {
  background: #da2a1c;
  padding: 8px 0px 8px 24px;
}

.header h1 {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 450;
}

.footerContainer {
  background-image: url(../../assets/footerLogin.svg);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
  flex:1;
}


.formContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color:white;
    box-shadow: rgba(253, 178, 206, 0.47) 0px 2px 20px;
    border-radius: 25px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form h2{
    font-size: 20px;
    margin: 0px !important;
    margin-bottom: 16px !important;
}

.input:focus{
  background-color: red;
}