.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.text{
    font-size: 16px;
}

.container:hover, .popperBottomText:hover{
    background-color:rgb(201, 190, 190);
}

.popperContainer{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: column;
}
.textColor{
    background-color:rgb(187, 174, 185);
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
    color:black;
}
.popperBottom{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 10px
}

.popperBottomText{
    padding :0 10px;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}



